<h1>Empleados#edit</h1>
<div>
	<%= form_for @empleado do |form| %>
	<%= form.text_field :nombre, placeholder: "nombre" %>
	<%= form.text_field :apellido, placeholder: "apellido" %>
	<%= form.text_field :tipo_identificacion, placeholder: "tipo_identificacion" %>
	<%= form.text_field :indentificacion, placeholder: "identificacion" %>
	<%= form.text_field :telefono, placeholder: "telefono" %>
	<%= form.text_field :correo, placeholder: "correo" %>
	<%= form.select(:empresa_id, options_for_select(Empresa.all.map {|e| [ e.nombre, e.id ] },   "Select..."), :selected =>@empleado.empresa_id) %>
	<%= form.submit %>
	<% end %>
</div>
