<h1>Empleados#index</h1>
<ul>
	<% @empleados.each do |empleado| %>
		<li><%= link_to empleado.nombre, empleado_path(empleado)  %></li>
	<% end %> 
</ul>
<%= link_to 'Nuevo', controller: "empleados", action: "new" %>
