<h1>Empleados#new</h1>
<div>
	<%= form_for @empleado do |form| %>
	<%= form.text_field :nombre, placeholder: "nombre" %>
	<%= form.text_field :apellido, placeholder: "apellido" %>
	<%= form.text_field :tipo_identificacion, placeholder: "tipo_identificacion" %>
	<%= form.text_field :indentificacion, placeholder: "indentificacion" %>
	<%= form.text_field :telefono, placeholder: "telefono" %>
	<%= form.text_field :correo, placeholder: "correo" %>
  	<%= form.select(:empresa_id) do %>
	    <% Empresa.all.each do |e| %>
	      <%= content_tag(:option, e.nombre, value: e.id) %>
	    <% end %>
    <% end %>
	<%= form.submit %>
	<% end %>
</div>
