<h1><%= @empleado.nombre %></h1>
<div>
	<p> <%= @empleado.apellido %> </p>
	<p> <%= @empleado.tipo_identificacion %> </p>
	<p> <%= @empleado.indentificacion %> </p>
	<p> <%= @empleado.telefono %> </p>
	<p> <%= @empleado.correo %> </p>
	<p> <%= Empresa.find_by_id(@empleado.empresa_id).nombre %> </p>
</div>

<%= link_to 'Eliminar', @empleado , method: :delete, data: { confirm: 'esta seguro?'}  %>

<%= link_to 'Editar', controller: "empleados", action: "edit", id: @empleado %>