<h1>Empresas#index</h1>
<ul>
	<% @empresas.each do |empresa| %>
		<li><%= link_to empresa.nombre, empresa_path(empresa)  %></li>
	<% end %> 
</ul>
<%= link_to 'Nuevo', controller: "empresas", action: "new" %>