<h1>Empresas#new</h1>
<div>
	<%= form_for @empresa do |form| %>
	<%= form.text_field :nombre, placeholder: "nombre" %>
	<%= form.text_field :nit, placeholder: "nit" %>
	<%= form.text_field :direccion, placeholder: "dirección" %>
	<%= form.text_field :telefono, placeholder: "telefono" %>
	<%= form.submit %>
	<% end %>
</div>
