<h1><%= @empresa.nombre %></h1>
<div>
	<p> <%= @empresa.nit %> </p>
	<p> <%= @empresa.telefono %> </p>
	<p> <%= @empresa.direccion %> </p>
</div>

<%= link_to 'Eliminar', @empresa , method: :delete, data: { confirm: 'esta seguro?'}  %>

<%= link_to 'Editar', controller: "empresas", action: "edit", id: @empresa %>
