<h1></h1>
<table>
	<% @logs.each do |log| %>
		<tr>
		<td><%=  log.ip  %></td>
		<td><%=  log.http_method  %></td>
		<td><%=  log.http_path  %></td>
		<td><%=  log.request_data  %></td>
		</tr>
	<% end %> 
</table>
